/* body {
  background-image: url("sandiegobeer.jpg");
  background-attachment: fixed;
   background-size: cover;
   color: #ed8c0c;
   text-align: center;
}
.favoriteBrews > h1 {
  color: darkblue
} */


/* .maps {

}

  .landingpage {
    text-align: center;
  }


  .nav {
    border-radius: 1em;
    background-color: #B0C4DE;
    padding: 1em;
    text-align: left;
    color: #e88420;
    }
    button {
      float: right;
      background-color: #B0C4DE;
      border: 1px solid black;
      font-size: 16px;
      border-radius: 1em;
      padding: .3em;
      cursor: pointer;
    } */














/*ORIGINAL CSS */

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
