body {
  background-image: url("beer3.jpg");
  // background-attachment: fixed;
   background-size: cover;
   // color: #ed8c0c;
   text-align: center;
}

.nav {
  // border-radius: 1em;
  // // background-color: #6c79ab;
  // padding: 1em;
  // padding-bottom: 2em;
  text-align: left;
  color: #e06812;
  button {
    float: right;
  }
  }
