.nav {
  border-radius: 1em;
  background-color: #B0C4DE;
  padding: 1em;
  text-align: left;
  color: #e88420;
  }
  button {
    float: right;
    background-color: #B0C4DE;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 1em;
    padding: .3em;
    cursor: pointer;
  }
